services:
  api_gateway:
    build: ./api_gateway
    depends_on:
      - chat_orchestrator

  chat_orchestrator:
    build: ./chat_orchestrator
    volumes:
      - ./chat_orchestrator/data:/app/data
    depends_on:
      - nlu_llm
      - rag_service
      - llm_service

  nlu_llm:
    build: ./nlu_llm

  rag_service:
    build: ./rag_services
    volumes:
      - ./chat_orchestrator/data:/app/data

  llm_service:
    build: ./llm-services
    env_file:
      - .env